[buildout]
extensions = mr.developer buildout.dumppickedversions
extends =
    sources.cfg
    tests.cfg
unzip = true
parts += instance omelette zopepy 
versions = versions

develop = 

auto-checkout =
# part of core, needs new release
    fullmarks.assessmentitem
    fullmarks.versioning
    fullmarks.tinymceplugins.asciimath
    fullmarks.tinymceplugins.asciisvg
    plone.app.dexterity
    plone.app.relationfield
    plone.app.stagingbehavior
    plone.app.z3cform
    plone.dexterity
    plone.z3cform
    upfront.wordmlutils
    z3c.relationfield

always-checkout = force

[instance]
recipe = plone.recipe.zope2instance
blob-storage = ${buildout:directory}/var/blobstorage
user = admin:admin
http-address = 8080
webdav-address = 8081
debug-mode = on
verbose-security = on
eggs = 
    Plone
    fullmarks.assessmentitem
    fullmarks.versioning
    fullmarks.tinymceplugins.asciimath
    fullmarks.tinymceplugins.asciisvg
    plone.app.dexterity
    plone.app.stagingbehavior
#    plone.app.lockingbehavior
    plone.app.versioningbehavior
    plone.app.referenceablebehavior
    plone.app.relationfield
    upfront.wordmlutils
    z3c.blobfile
    z3c.relationfield
# development tools
    plone.reload
    Products.PDBDebugMode
    Products.TinyMCE
zcml =
environment-vars = zope_i18n_compile_mo_files true

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ./

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy
